@import "src/assets/styles/mixins";
.selectors.currencies{
  @include selectors;
  div{
    &:nth-child(1) {
      padding-right:1rem ;
    }
    &:nth-child(2){
      padding-left:1rem ;
    }
  }
}
