@import  'src/assets/styles/mixins';
@import  'src/assets/styles/variables';

.header {
  .app-title {
    white-space: nowrap;
    @media screen and (max-width: 488px) {
      font-size: 1.2rem;
    }
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem auto;
  }

  .logo {
    max-height: 55px;
  }

  .currency-nav {
    .currency-link {
      &:nth-child(2) {
        margin: 0 0 0 1rem;
        @media screen and (max-width: 488px) {
          margin: 0 0 0 0.4rem;
        }
      }


      svg {
        background-color:$gray-color;
        @include rounded-icon;
      }
    }
  }

}
