@import "src/assets/styles/mixins";
@import "src/assets/styles/variables";

.converter {
  margin-top: 1.5rem;

  .converter-btn {
    text-align: center;
    margin-top: 4rem;

    button {
      cursor: pointer;
      background-color: $primary-color;
      color: #ffffff;
      padding: 1rem 3rem;
      border-radius: 4px;
      border: 0;
      font-size: 1rem;
      width: 200px;

      &:disabled {
        background-color: lighten($primary-color, 20%);
      }
    }
  }

  .exchanger-icon {
    width: 5%;
    text-align: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    svg {
      color: $gray-color;
    }
  }

  .selectors.amounts {
    margin-top: 5rem;
    @include selectors;

    &::-webkit-input-placeholder {
      font-size: 0.75rem;
    }

    input.from-converter {
      &:focus-visible {
        outline: 3px solid lighten($primary-color,70%);
      }
    }
  }
}
