@import "variables";

@mixin  rounded-icon{
  padding: 0.3rem 0.5rem;
  color: #ffffff;
  border-radius: 50%;

  &:hover {
    background-color: darken($gray-color, 15%);
  }

  @media screen and (max-width: 488px) {
    padding: 0.3rem;
  }
}

@mixin selectors{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .title {
    margin-bottom: 0.2rem;
    font-weight: 800;
    color: rgb(20, 30, 55);
  }

  div {
    flex-grow: 1;

    select, input {
      border-radius: 4px;
      height: 40px;
      width: 100%;
      border: 0;
      outline: 1px;
      font-size: 1.2rem;
      color: $gray-color;
      padding: 0 0.4rem;

      &:disabled {
        background-color: darken($gray-color,20%);
        color: #ffffff;
      }
    }
  }
}
