@import "mixins";
@import "variables";
body {
  background-color: #dddddd;
  color: $base-color;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

table, th, td {
  text-align: center;
  border: 1px solid;
}

.page {
  margin: auto 2rem;
  @media screen and (max-width: 488px) {
    margin: auto 1rem;
  }
}

.details-link {
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  float: right;
  color: $primary-color;
  font-weight: 500;
  margin: 1.5rem auto;

  svg {
    background-color: $primary-color;
    margin-left: 0.25rem;

    @include rounded-icon;
  }
}

.spinner {
  animation: spinner 1.5s linear infinite;
  margin-right: 0.2rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
