@import "src/assets/styles/mixins";
@import "src/assets/styles/variables";

.details {
  margin-top: 3.5rem;

  .details-desc {
    font-size: 2rem;

    .title {
      color: $primary-color;
      font-weight: 800;
      margin-right: 0.2rem;
    }
  }
}
