@import "src/assets/styles/variables";

.historical {
  .title {
    font-size: 1rem;

    span {
      color: $primary-color;
    }
  }

  .historical-list {
    margin-left: 2rem;

    .historical-amount {
      font-weight: 800;
      color: $primary-color;
    }
  }
}
